Flask==0.10.1
Flask-Login==0.2.11
Flask-SQLAlchemy==2.0
Flask-Script==2.0.5
Flask-WTF==0.11
ForgeryPy==0.1
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==1.0.0
WTForms==2.0.2
Werkzeug==0.10.4
argparse==1.2.1
itsdangerous==0.24
