{% extends "base.html" %}

{% block body %}
  <section class="header">
    <h2 class="title">Register</h2>
      <div class="row">
        <div class="three columns value-prop"></div>
        <div class="six columns">
        {% if form.errors %}<p class=error><strong>Your form contains errors.</strong>{%     endif %}
        <form action="{{ url_for('login') }}" method=post>
          {{ form.hidden_tag() }}
          <dl>
            <dd>{{ form.username(class_="u-full-width", placeholder="Username") }}
            <dd>{{ form.email(class_="u-full-width", placeholder="Email") }}
            <dd>{{ form.password(class_="u-full-width", placeholder="Password") }}
            <dd>{{ form.password_confirmation(class_="u-full-width", placeholder="Confirm your Password") }}
            <dt>{{ form.submit }}
          </dl>
        </form>
        <p>Already registerd? <a href="{{ url_for('login') }}">Click here to login</a>.</p>
        </div>
      </div>
  </section>
{% endblock %}
