{% extends "base.html" %}

{% block body %}
<section class="header">
  <h2 class="title">Register</h2>
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      {% if form.errors %}
        <div class="has-error"><strong>Your registration contains errors.</strong></div>
      {% endif %}
      <form method=post>
        {{ form.hidden_tag() }}
        <dl>
          {% set username_class = "u-full-width" + (" input-error" if form.username.errors else "") %}
          <dd class="field-group">
            {{ form.username(class_=username_class, placeholder="Username", maxlength=64) }}
            {% if form.username.errors %}
              <div class="field-errors">
                {% for error in form.username.errors %}
                  <div class="field-error">{{ error }}</div>
                {% endfor %}
              </div>
            {% endif %}
          </dd>
          {% set email_class = "u-full-width" + (" input-error" if form.email.errors else "") %}
          <dd class="field-group">
            {{ form.email(class_=email_class, type="email", placeholder="Email", maxlength=64) }}
            {% if form.email.errors %}
              <div class="field-errors">
                {% for error in form.email.errors %}
                  <div class="field-error">{{ error }}</div>
                {% endfor %}
              </div>
            {% endif %}
          </dd>
          {% set password_class = "u-full-width" + (" input-error" if form.password.errors else "") %}
          <dd class="field-group">
            {{ form.password(class_=password_class, placeholder="Password") }}
            {% if form.password.errors %}
              <div class="field-errors">
                {% for error in form.password.errors %}
                  <div class="field-error">{{ error }}</div>
                {% endfor %}
              </div>
            {% endif %}
          </dd>
          {% set password_confirmation_class = "u-full-width" + (" input-error" if form.password_confirmation.errors else "") %}
          <dd class="field-group">
            {{ form.password_confirmation(class_=password_confirmation_class, placeholder="Confirm your Password") }}
            {% if form.password_confirmation.errors %}
              <div class="field-errors">
                {% for error in form.password_confirmation.errors %}
                  <div class="field-error">{{ error }}</div>
                {% endfor %}
              </div>
            {% endif %}
          </dd>
          <dt>{{ form.submit }}
        </dl>
      </form>
      <p>Already registerd? <a href="{{ url_for('auth.login') }}">Click here to login</a>.</p>
    </div>
  </div>
</section>
{% endblock %}
